<div class="container">
  <div class="my-xl text-center">
    <h1 class="text-title">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h1>
    <h2 class="text-sub-title">Сервиса "DIGASH"</h2>
  </div>

  <div class="bg-main rounded-borders-md pa-lg">
    В соответствии с требованиями статьи 9 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных», настоящим, я Пользователь, свободно, своей волей и в своем интересе выражаю свое полное согласие Администрации сервиса "DIGASH", адрес электронной почты: support@digash.live (далее – Оператор), на обработку неавтоматизированным, автоматизированным, а также смешанным способом, в рамках использования функционала Сервиса "DIGASH" следующих моих персональных данных:
    <ul>
      <li>адрес электронной почты (e-mail);</li>
      <li>логин.</li>
    </ul>
    <br>

    Я уведомлен, что Оператор не осуществляет обработку специальных категорий персональных данных.<br><br>
    Я проинформирован и настоящим соглашаюсь с тем, что Оператор не проверяет достоверность предоставленных мной персональных данных. При этом Оператор исходит из того, что Пользователь предоставляет Оператору достоверные и достаточные (не избыточные) для исполнения вышеуказанных целей обработки персональные данные.<br><br>
    Я подтверждаю, что с положениями Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных», Политикой обработки персональных данных Оператора ознакомлен.
    <br><br>
    Я даю согласие на использование персональных данных для создания базы данных, в статистических целях, в использования Сервиса "DIGASH", а также в целях:
    <ul>
      <li>обеспечения взаимодействия с Оператором;</li>
      <li>в целях хранения и распространения предоставленной субъектом персональных данных информации;</li>
      <li>создания учетной записи;</li>
      <li>создания базы данных, в статистических целях;</li>
      <li>проведения статистических и иных исследований, на основе обезличенных данных, улучшение качества работы Сервиса, удобства его использования;</li>
      <li>осуществления информационных и рекламных рассылок, уведомлений, иное предоставление информации в отношении программного продукта Оператора с использованием любых средств связи и программ по обмену мгновенными сообщениями.</li>
    </ul>
    <br>
    Настоящее согласие предоставляется мной на осуществление действий в отношении моих персональных данных, которые необходимы для достижения указанных выше целей, включая (без ограничения) сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу третьим лицам для осуществления действий по обмену информацией, обезличивание, блокирование персональных данных, а также осуществление любых иных действий, предусмотренных действующим законодательством Российской Федерации.
    <br><br>

    Настоящее согласие может быть отозвано Пользователем или его законным представителем в любой момент не менее чем за один месяц до даты фактического прекращения обработки моих персональных данных Оператором путем направления письменного заявления, содержащего в явном виде отзыв согласия Пользователя на обработку своих персональных данных, в следующих форматах:
    <ul>
      <li>в форме скан-копии на адрес электронной почты Администрации сервиса "DIGASH": support@digash.live</li>
    </ul>
    <br>
    Данное согласие действует до момента его отзыва субъектом персональных данных.<br>
    Данное согласие может быть отозвано в любой момент по моему письменному заявлению.<br>
    Я подтверждаю, что, давая такое согласие, я действую по собственной воле и в своих интересах.

  </div>

</div>

<app-footer></app-footer>
