<h2>Прочитай перед сделкой</h2>
<div>
  <p>
    1. Не нужно тратить свои силы на торговлю плохих формаций. Не притянута ли формация за
    уши? Стоит ли данная сделка твоего времени?
  </p>

  <p>
    2. Перед каждой сделкой спрашивать у себя: по стратегии ли сделка? Все ли факторы
    соблюдены?
  </p>

  <p>
    Вход, выход, стоп, тейк, олын формация или нет? Как будешь вести себя в сделке при
    возникновении разных обстоятельств?
  </p>

  <p>
    3. Если выбьет по стопу, то это будет ошибка или системный стоп? Какое у тебя настроение?
    Нет ли эмоций? Забайтился ли ты на кого-то? Нет ли у тебя тильта? Чистая ли у тебя голова,
    свободно ли ты себя чувствуешь? Будешь ли ты жалеть об этой сделке? Готов ли ты принять
    убыток? Ты хочешь заработать или получить эмоции?
  </p>

  <section>
    <p>
      <b>Можно торговать если:</b>
    </p>
    <ul>
      <li>
        Всё по стратегии
      </li>
      <li>
        Ты уверен в сделке
      </li>
      <li>
        Готов принять убыток
      </li>
      <li>
        Нет эмоций
      </li>
      <li>
        Полностью сконцентрирован на торговле
      </li>
    </ul>
  </section>


  <section>
    <p><b>Нельзя торговать если:</b></p>
    <ul>
      <li>
        Есть эмоции
      </li>
      <li>
        Не уверен в сделке
      </li>
      <li>
        Не готов принять убыток
      </li>
      <li>
        Рассеян
      </li>
      <li>
        Плохое настроение
      </li>
    </ul>
  </section>

  <section>
    <p><b>Советы</b></p>
    <ul>
      <li>
        Торговать с чистой головой
      </li>
      <li>
        Не жадничать
      </li>
      <li>
        Крыть базу
      </li>
      <li>
        Выходить по факту
      </li>
      <li>
        Лучше недозаработать, чем потерять
      </li>
    </ul>
  </section>
</div>
<mat-dialog-actions align="center">
  <button matRipple mat-button mat-dialog-close class="digah-button">Я отдаю отчёт своим действиям</button>
</mat-dialog-actions>
