.post-card {
  display: block;
  position: relative;
  min-height: 100%;
  padding: var(--md);
  border-radius: var(--md);
  transition: .5s all;
  outline: 1px solid var(--color-main-bg-accent);
  padding-bottom: 80px;
  background: var(--color-main-bg-accent);
  backdrop-filter: blur(4px);
  overflow: hidden;

  .badge {
    position: absolute;
    top: var(--sm);
    right: var(--sm);
    background: var(--color-primary);
    color: #fff;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    z-index: 100;
    opacity: .8;
  }

  .description {
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    h2 {
      font-size: 18px;
    }

    .description-img {
      background-color: #5EC16940;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 4px;
      min-width: 48px;
      height: 48px;
    }
  }

  &:hover {
    outline: 1px solid var(--color-primary);
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  }

  .image-wrapper {
    position: relative;
    display: inline-block;
  }

  .image {
    height: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: var(--md);
    overflow: hidden;
  }

  .image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: linear-gradient(to top, rgba(20, 20, 29, 0.9), rgba(20, 20, 29, 0.2));
    border-radius: var(--md);
    overflow: hidden;
  }

  .title {
    position: absolute;
    bottom: var(--md);
    left: var(--md);
    z-index: 2;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }

  .footer {
    position: absolute;
    bottom: var(--md);
    left: var(--md);
    right: var(--md);
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}

.bg-effect {
  position: absolute;
  bottom: -40px;
  right: -40px;
  pointer-events: none;
}
