
<div class="container">
  <div class="my-xl text-center">
    <h1 class="text-title">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h1>
    <h2 class="text-sub-title">Сервиса "DIGASH"</h2>
  </div>

  <div class="bg-main rounded-borders-md pa-lg">
    <div class="text-bold text-underline">
      Оглавление
    </div>
    <section class="contents">
      <ol>
        <li (click)="goTo('section-1')">Стороны соглашения</li>
        <li (click)="goTo('section-2')">Определение терминов</li>
        <li (click)="goTo('section-3')">Предмет соглашения</li>
        <li (click)="goTo('section-4')">Общие положения</li>
        <li (click)="goTo('section-5')">Условия использования Сервиса</li>
        <li (click)="goTo('section-6')">Использование Сервиса</li>
        <li (click)="goTo('section-7')">Права и обязанности Пользователя</li>
        <li (click)="goTo('section-8')">Ответственность Пользователя</li>
        <li (click)="goTo('section-9')">Права и обязанности Администрации Сервиса</li>
        <li (click)="goTo('section-10')">Ответственность Администрации Сервиса</li>
        <li (click)="goTo('section-11')">Стоимость и порядок расчетов</li>
        <li (click)="goTo('section-12')">Взаимодействие</li>
        <li (click)="goTo('section-13')">Срок действия Соглашения</li>
        <li (click)="goTo('section-14')">Заключительные положения</li>
        <li (click)="goTo('section-15')">Реквизиты Администрации Сервиса</li>
      </ol>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-1">
      <p class="text-bold text-underline">1. Стороны соглашения</p>
      <p class="mt-md">
        1.1. Настоящее пользовательское соглашение (далее – Соглашение) относится к веб-сайту "DIGASH"(далее – Сервис), который является собственностью Администрации сервиса "DIGASH" (далее – Администрация сервиса, Администрация).<br>
        Администрация сервиса является обладателем исключительных прав на все объекты интеллектуальной собственности, размещенные на веб-сайте в сети «Интернет» по адресу: https://digash.live, в том числе, но не ограничиваясь правом на все элементы дизайна, графические и звуковые элементы, элементы управления и функционирования веб-сайта, а также программных комплексов и приложений, необходимых для получения доступа к Сервису.<br><br>
        1.2. Настоящее Соглашение регулирует отношения между Администрацией с одной стороны и пользователем Сервиса (далее – Пользователь).<br><br>
        1.3. Согласно п. 3 ст. 434, п. 2 ст. 437, п. 3. ст. 438 Гражданского кодекса Российской Федерации настоящее Соглашение является публичной офертой (далее – Оферта) и определяет условия использования Сервиса на условиях, изложенных ниже.<br><br>
        1.4. Полным и безоговорочным акцептом Пользователем условий Соглашения считается факт любого использования Пользователем Сервиса, Услуг, результатов интеллектуальной деятельности, размещенных на Сервисе, либо регистрация на Сервисе.<br><br>
        1.5. Если Пользователь использует Сервис после внесения любых изменений/дополнений в Соглашение, это означает, что Пользователь согласен и принимает такие изменения/дополнения.<br><br>
        1.6. Если Пользователь не согласен соблюдать Соглашение, то Пользователь обязан прекратить использование Сервиса.<br><br>
        1.7. Акцепт настоящей оферты (Соглашения) на иных условиях, отличных от тех, что указаны в настоящей оферте, либо акцепт под условием, не допускается.
      </p>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-2">
      <p class="text-bold text-underline">2. Определение терминов</p>
      <table class="mt-md">
      <thead>
      <tr>
        <th>Наименование термина</th>
        <th>Определение термина</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Администрация сервиса/Правообладатель</td>
        <td>лицо, которому принадлежат исключительные права владения сервисом</td>
      </tr>
      <tr>
        <td>Авторизация</td>
        <td>предоставление пользователю, прошедшему аутентификацию, доступ к функционалу Сервиса, путем ввода данных: адрес электронной почты, пароль и логин, в целях получения доступа к учетной записи для уже зарегистрированного пользователя.</td>
      </tr>
      <tr>
        <td>Аутентификация</td>
        <td>процесс проверки учетных данных пользователя/проверка связки логин и пароль.</td>
      </tr>
      <tr>
        <td>Логин</td>
        <td>уникальный для Сервиса идентификатор пользователя, то есть уникальное имя, которое используется для регистрации и входа на сайт, который в сочетании с паролем и адресом электронной почты служит для идентификации пользователя.</td>
      </tr>
      <tr>
        <td>Сервис</td>
        <td>совокупность интегрированных программно-аппаратных и технических средств, а также информации, предназначенной для публикации в сети Интернет и отображаемой в определенной текстовой, графической или звуковых формах, расположенных в доменной зоне <a href="https://digash.live">https://digash.live</a></td>
      </tr>
      <tr>
        <td>Пароль</td>
        <td>набор букв и цифр, который в сочетании с логином служит для идентификации пользователя.</td>
      </tr>
      <tr>
        <td>Пользовательское соглашение</td>
        <td>соглашение, заключаемое между правообладателем и пользователем в отношении порядка, правил и особенностей использования пользователя Сервиса.</td>
      </tr>
      <tr>
        <td>Пользователь</td>
        <td>любое дееспособное лицо, получившее доступ к интернет-странице, расположенной в сети Интернет на домене <a href="https://digash.live">https://digash.live</a></td>
      </tr>
      <tr>
        <td>Регистрация</td>
        <td>процедура создания учетной записи пользователя в целях получения функционала Сервиса.</td>
      </tr>
      <tr>
        <td>Учетная запись</td>
        <td>система, позволяющая пользователю зарегистрировать профиль для идентификации в Сервисе, позволяющая обеспечить возможность входа в ранее созданный профиль.</td>
      </tr>
      </tbody>
    </table>
      <p class="mt-sm">
        Иные термины и определения, используемые в Соглашении, имеют значение и подлежат толкованию в соответствии с положениями настоящего Соглашения, а в случае отсутствия данных положений в Соглашении – в соответствии со сложившейся практикой использования этих терминов и определений в гражданском обороте, а также в соответствии с законодательством Российской Федерации.
      </p>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-3">
      <p class="text-bold text-underline">3. Предмет соглашения</p>
      <p class="mt-md">
        3.1. Администрация предоставляет Пользователю неисключительное, непередаваемое, бессрочное право использования Сервиса.<br><br>
        3.2. Содержание Сервиса и любые персональные или обезличенные данные, которыми оперирует Сервис, не могут быть скопированы, опубликованы, воспроизведены, переданы или распространены любым способом, а также размещены в глобальной сети «Интернет» без предварительного письменного согласия Администрацией сервиса.<br><br>
        3.3. Содержание Сервиса защищено авторским правом, законодательством о товарных знаках, а также другими правами, связанными с интеллектуальной собственностью, и законодательством о недобросовестной конкуренции.<br><br>
        3.4. В предмет Соглашения входят все функции Сервиса, а также любое их развитие или добавление новых, доступные Пользователям в явном виде.<br><br>
        3.5.  Пользователю доступны платные Услуги и дополнительный функционал Сервиса только после регистрации и авторизации на Сервисе. Каждому Пользователю рекомендуется создать учетную запись для корректного использования Сервиса.
      </p>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-4">
      <p class="text-bold text-underline">4. Общие положения</p>
      <p class="mt-md">
        4.1. Администрация предоставляет Пользователю право на использование Сервиса в пределах и способами, определенными Соглашением. Срок действия права на использование – с даты начала использования Пользователем Сервиса и действует до момента отзыва акцепта публичной оферты. В случае отзыва настоящего Соглашения, Соглашение считается прекращенным с момента отзыва.<br><br>
        4.2. Администрация имеет право на отзыв оферты в соответствии со статьей 436 Гражданского Кодекса Российской Федерации. В случае отзыва настоящего Соглашения Администрацией Сервиса настоящее Соглашении считается прекращенным с момента отзыва.<br><br>
        4.3. Сервис может содержать ссылки на другие сайты в сети «Интернет» (сайты третьих лиц).<br><br>
        4.4. Ссылка (в любой форме) на любой сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, размещенная в Сервисе, не является одобрением или рекомендацией данных продуктов (услуг, деятельности) со стороны Администрации, за исключением случаев, когда на это прямо указывается.
      </p>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-5">
      <p class="text-bold text-underline">
        5. Условия использования Сервиса
      </p>
      <div class="mt-md">
        5.1. Условия использования функциональных возможностей Сервиса допускается только после прохождения Пользователем регистрации и авторизации в соответствии с установленной Администрацией сервиса процедурой.<br><br>
        5.2. Для регистрации Пользователь самостоятельно вводит и указывает в Сервисе:
        <ul>
          <li>адрес электронной почты;</li>
          <li>логин;</li>
          <li>пароль.</li>
        </ul><br>
        5.3. После нажатия Пользователем в Сервисе активной клавиши «Регистрация» с учетом верного последовательного выполнения всех регистрационных действий в Сервисе создается учетная запись и профиль Пользователя.<br><br>
        5.4. В Сервисе Пользователю предоставляются на ознакомление следующая информация:
        <ul>
          <li>пользовательское соглашение;</li>
          <li>политика обработки персональных данных;</li>
          <li>согласие пользователя на обработку его персональных данных.</li>
        </ul><br>
        5.5. Пользователь, своевременно не ознакомившийся с условиями указанных документов, принимает на себя все риски, связанные с неблагоприятными последствиями для Пользователя. Нажимая в Сервисе активную клавишу «Регистрация», Пользователь выражает свое безусловное согласие с настоящим Пользовательским соглашением, а также дает свое согласие на обработку персональных данных Пользователя на условиях Политики обработки персональных данных с использованием средств автоматизации и/или без использования таких средств Администрацией.<br><br>
        5.6. При регистрации в Сервисе Пользователь обязан предоставить Администрации необходимую, достоверную и актуальную информацию для формирования учетной записи Пользователя, включая уникальные для каждого Пользователя адрес электронной почты и пароль для доступа к полному функционалу Сервиса.<br><br>
        5.7. При регистрации Пользователь соглашается с настоящим Соглашением и принимает на себя указанные в нем права и обязанности, связанные с использованием и функционированием Сервиса.<br><br>
        5.8. После успешной регистрации Пользователя в Сервисе Администрация принимает на себя права и обязанности перед Пользователем, в соответствии с условиями Соглашения.<br><br>
        5.9. Выбранные Пользователем адрес электронной почты, логин и пароль являются необходимой и достаточной информацией для доступа Пользователя в Сервис. Пользователь несет полную ответственность за сохранность своих логина и пароля, самостоятельно выбирая способ их хранения. Пользователь на используемом им аппаратно-программном обеспечении может разрешить хранение логина и пароля для последующей автоматической авторизации в Сервисе.<br><br>
        5.10. Если Пользователем не доказано обратное, любые действия, совершенные с использованием его логина и пароля, считаются совершенными соответствующим Пользователем. В случае несанкционированного доступа к электронной почте, логину и паролю и/или учетной записи, Пользователя, или распространения логина и пароля, Пользователь обязан незамедлительно сообщить об этом Администрации сервиса.
      </div>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-6">
      <p class="text-bold text-underline">6. Использование Сервиса</p>
      <p class="mt-md">
        6.1. После выполнения Пользователем действий, указанных п.п. 5.2, 5.3, 5.4 Соглашения, Администрация предоставляет Пользователю доступ к функциям Сервиса посредством которого Пользователь получает возможность фильтрации, сортировки, анализа и отслеживания данных о различных криптовалютах на рынке.<br><br>
        6.2. Посредством использования Сервиса, Пользователь может:<br>
        6.2.1. добавлять криптовалюты, за которыми он хочет следить, в персональный список, чтобы отслеживать их изменения;<br>
        6.2.2. получать уведомления о достижении определенной цены или о резких изменениях в стоимости криптовалюты;<br>
        6.2.3.  быстро находить криптовалюты с определенными характеристиками на доступных биржах;<br>
        6.2.4. анализировать рынок и отслеживать тенденции, в целях ориентирования на рынке криптовалют и поиску интересующих активов.

      </p>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-7">
      <p class="text-bold text-underline">7. Права и обязанности Пользователя</p>
      <p class="mt-md">
        7.1. Пользователь вправе:<br>
        7.1.1. получить доступ к функционалу Сервиса после прохождения авторизации и регистрации;<br>
        7.1.2.	использовать Сервис по прямому функциональному назначению, действия по использованию Сервиса должны осуществляться Пользователем лично. Передача права пользования Сервисом третьим лицам не допускается;<br>
        7.1.3. задавать любые вопросы Администрации, относящиеся к функционированию Сервиса.<br><br>
        7.2. Пользователь обязан:<br>
        7.2.1. предоставить Администрации достоверные сведения, необходимые для создания учетной записи;<br>
        7.2.2. самостоятельно отслеживать обновления Сервиса;<br>
        7.2.3. обеспечить конфиденциальность и не разглашать третьим лицам свои регистрационные данные. В случае разглашения аутентификационных данных третьим лицам Пользователь несет полную ответственность за возможность получения такими третьими лицами личной информации Пользователя, доступа к Сервису;<br>
        7.2.4. не использовать Сервис для любых иных целей, кроме как для целей, связанных с личным использованием;<br>
        7.2.5. не использовать свой доступ к Сервису или информацию, полученную в Сервисе, для рассылки спама;<br>
        7.2.6. сообщить Администрации о наличии ошибок или неполадок, возникших в процессе использования Сервиса;<br>
        7.2.7. соблюдать положения Пользовательского соглашения и действующее законодательство Российской Федерации. За неисполнение или ненадлежащее исполнение своих обязательств Пользователь несет ответственность в соответствии с Пользовательским соглашением и действующим законодательством Российской Федерации.
      </p>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-8">
      <p class="text-bold text-underline">8. Ответственность Пользователя</p>
      <p class="mt-md">
        8.1. Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству предоставленной при регистрации информации и ее чистоту от претензий третьих лиц.<br><br>
        8.2. Пользователь несет персональную ответственность за все последствия, в том числе, но не ограничиваясь, за последствия причинения ущерба себе или любое другое действие, которое противоречит законодательству Российской Федерации и влечет административную или уголовную ответственность, при несоблюдении правил настоящего Соглашения.<br><br>
        8.3. Пользователю запрещается:<br>
        8.3.1. осуществлять действия, направленные на нарушение нормального функционирования Сервиса или получения неправомерного доступа к информации, размещенного на нём;<br>
        8.3.2. использовать без специального письменного разрешения Администрации программное обеспечение для автоматического сбора информации в Сервисе и/или взаимодействия с Сервисом и его функционалом;<br>
        8.3.3. совершать действия, которые могут привести к нарушению или сбою в работе Сервиса, а также какие-либо действия, направленные на обход установленных ограничений. Если Пользователь, использующий Сервис, препятствует нормальному его функционированию, Администрация не несет ответственности за любые сбои или некорректное функционирование Сервиса или его отдельного функционала;<br>
        8.3.4. воспроизводить, дублировать, копировать, предоставлять доступ к Сервису за вознаграждение или ограничивать доступ каким-либо иным способом;<br>
        8.3.5. использовать в Сервисе объекты интеллектуальной собственности Администрации или любых других третьих лиц без разрешения правообладателя;<br>
        8.3.6. осуществлять модификацию, усовершенствование, перевод на другие языки, декомпилирование, дизассемблирование, декодирование, эмуляцию, нарушение целостности, восстановление исходного кода Сервиса или каких-либо его частей;<br>
        8.3.7. загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать вирусы, трояны и другие вредоносные программы;<br>
        8.3.8. любым способом, в том числе, но не ограничиваясь, путем обмана, злоупотребления доверием, взлома, пытаться получить доступ к профилю другого Пользователя;<br>
        8.3.9. представляться Администрацией Сервиса;<br>
        8.3.10. самостоятельно либо с помощью третьих лиц производить сопоставительный анализ Сервиса, обнародовав результаты такого анализа, а также использовать упомянутые результаты для конкурирующей деятельности по разработке программного обеспечения;<br>
        8.3.11. использовать и размещать нецензурную лексику, оскорблять других Пользователей, разжигать национальную, социальную, конфессиональную рознь, а также проявлять любые формы экстремизма;<br>
        8.3.12. публиковать материалы, нарушающие авторские права, законодательство о товарных знаках, неприкосновенность частной жизни, другие личные либо имущественные права третьих лиц.<br><br>
        8.4. В случае нарушения Пользователем условий Сервиса, Администрация оставляет за собой право ограничить или заблокировать полностью, или в части доступ такого Пользователя к Сервису без предварительного уведомления, а также обратиться с требованием о защите собственных прав. Такие действия могут быть также совершены в целях защиты прав и интересов третьих лиц по требованию органов власти.
      </p>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-9">
      <p class="text-bold text-underline">9. Права и обязанности Администрации Сервиса</p>
      <p class="mt-md">
        9.1. Администрация вправе:<br>
        9.1.1. ограничить доступ к Сервису в случае нарушения Пользователем условий настоящего Соглашения;<br>
        9.1.2. в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя, новая редакция Соглашения вступает в силу с момента ее размещения в Сервисе либо доведения до сведения Пользователя в иной воспринимаемой Пользователем форме, если иное предусмотрено новой редакцией Соглашения;<br>
        9.1.3. направлять Пользователю любым способом информацию о функционировании Сервиса, в том числе размещать рекламные, информационные и иные сообщения внутри Сервиса;<br>
        9.1.4. без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сервису, в случае прекращения функционирования Сервиса, по причине технической неполадки, либо по иным причинам;<br>
        9.1.5. потребовать от Пользователя в любое время подтверждения данных, указанных при регистрации в Сервисе.<br><br>
        9.2. Администрация обязана:<br>
        9.2.1. предоставить доступ Пользователю к функционалу Сервису после соблюдения Пользователем всех необходимых требований регистрации и авторизации;<br>
        9.2.2. обеспечить корректное функционирование Сервиса;<br>
        9.2.3. использовать полученные от Пользователя данные по назначению, исключительно в целях осуществления бизнес-процессов, связанных с функционированием Сервиса и операционной деятельностью Администрации, согласно установленным Администрацией регламентирующим документам по использованию и обработке информации;<br>
        9.2.4. отвечать на все вопросы, которые были обращены к Администрации сервиса со стороны Пользователя на тему функционирования Сервиса.
      </p>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-10">
      <p class="text-bold text-underline">10. Ответственность Администрации Сервиса</p>
      <p class="mt-md">
        10.1. Администрация не несет ответственности за:<br>
        10.1.1. задержки или сбои функционирования Сервиса, возникшие вследствие непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных сетях, и системах;<br>
        10.1.2. ненадлежащие функционирование Сервиса в случае, если Пользователь не имеет необходимых технических средств для использования Сервиса, а также не несет никаких обязательств по обеспечению Пользователей такими средствами;<br>
        10.1.3. прекращение доступа к Сервису Пользователя или третьим лицам в случае нарушения Пользователем любого Положения настоящего Соглашения или иного документа, содержащего условия использования Сервиса.<br><br>
        10.2. Администрацией не возмещаются любые убытки, включая, но не ограничиваясь, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего Соглашения, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя.
      </p>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-11">
      <p class="text-bold text-underline">11. Стоимость и порядок расчетов</p>
      <p class="mt-md">
        11.1. Для получения полного функционала Сервиса Пользователю необходимо приобрести платную подписку. В целях получения соответствующей подписки Пользователь переходит на страницу в Сервисе путем нажатия на активную клавишу «Премиум». Пользователь самостоятельно выбирает период действия подписки.<br><br>
        11.2. После выбора периода срока действия подписки Пользователь переходит на страницу с реквизитами для оплаты посредством нажатия активной клавиши «Оплатить».<br><br>
        11.3.  Реквизиты для оплаты действительный в течении 2 (двух) часов с момента перехода на страницу. Оплата подписки осуществляется посредством криптовалюты Tether (USDT).<br><br>
        11.4. Оплата подписки осуществляется посредством использования сети TRON (TRC-20) и использования криптовалюты TRX.<br><br>
        11.5. Администрация сервиса не осуществляет возврат денежных средств, в том числе криптовалют, после оплаты и приобретения подписки.
      </p>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-12">
      <p class="text-bold text-underline">12. Взаимодействие</p>
      <p class="mt-md">
        12.1. По вопросам, возникающим в связи с использованием Сервиса, Пользователь вправе обращаться к Администрации сервиса путем направления электронного сообщения по адресу электронной почты, указанной в разделе 15 Соглашения.<br><br>
        12.2. При обращении к Администрации сервиса Пользователь обязан предоставить полные и достоверные сведения о себе и другие сведения, объем которых определяется Администрацией сервиса.<br><br>
        12.3. Объем и порядок предоставления технической и консультационной поддержки определяются Администрации сервиса.<br><br>
        12.4. Техническая и консультационная поддержка предоставляется Администрацией бесплатно.<br><br>
        12.5. Администрация не предоставляет каких-либо гарантий оказания технической и консультационной поддержки. В то же время Администрация в разумных пределах приложит усилия, чтобы оказывать содействие Пользователю в использовании Сервиса и разрешении возникших в связи с использованием Сервиса технических проблем.
      </p>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-13">
      <p class="text-bold text-underline">13. Срок действия Соглашения</p>
      <p class="mt-md">
        13.1. Пользователь принимает настоящее Соглашение путем совершения действий по регистрации, указанных в разделе 5 настоящего Соглашения. Дата совершения Пользователем указанных действий является датой вступления в силу настоящего Соглашения.<br><br>
        13.2. Действие настоящего Соглашения распространяется на все последующие обновления/новые версии Сервиса.<br><br>
        13.3. Администрация имеет право в любое время в одностороннем порядке вносить изменения в условия настоящего Соглашения. Уведомление Пользователя о внесенных изменениях в условия Соглашения размещается в новой версии Сервиса. Указанные изменения вступают в силу и становятся обязательными с даты размещения (публикации) в Сервиса, если иное не оговорено в соответствующей публикации. Пользователь обязуется самостоятельно периодически осуществлять мониторинг Сервиса на предмет изменения условий настоящего Соглашения. Риск несоблюдения данного требования в полной мере лежит на Пользователе.<br><br>
        13.4. Администрация вправе в одностороннем внесудебном порядке в любой момент отказаться от исполнения Соглашения и отменить право использовать Сервис у любого Пользователя. В этом случае Соглашение считается прекращенным в момент отправки Пользователю уведомления по адресу электронной почты Пользователя.<br><br>
        13.5. Прекращенное по любым основаниям настоящее Соглашение продолжает действовать в части неисполненных обязательств Сторон вплоть до исполнения указанных обязательств в полном объеме.<br><br>
        13.6. Любое нарушение условия настоящего Соглашения Пользователем ведет к отмене права использовать Сервис. В случае использования Сервиса после прекращения права на использование Пользователь несет ответственность в соответствии с законодательством Российской Федерации. В этом случае Соглашение считается прекращенным в момент отправки Пользователю уведомления посредством по адресу электронной почты Пользователя.
      </p>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-14">
      <p class="text-bold text-underline">14. Заключительные положения</p>
      <p class="mt-md">
        14.1. В случаях, не урегулированных в настоящем Соглашении, Стороны должны руководствуются нормами действующего законодательства Российской Федерации.<br><br>
        14.2. Все споры и разногласия по настоящему Соглашению разрешаются путем переговоров с соблюдением обязательного претензионного порядка.<br><br>
        14.3. В случае, если Администрация сервиса и Пользователь не пришли к решению посредством переговоров в течение 30 (тридцати) дней, споры и разногласия передаются на разрешение в суд, в порядке, предусмотренном действующим законодательством РФ по месту нахождения Администрации, язык судопроизводства – русский.<br><br>
        14.4. Признание судом какого-либо положения Соглашения недействительным или не подлежащему принудительному исполнению не влечет недействительности иных положений Соглашения.<br><br>
        14.5. Отзывы Пользователя, размещенные в глобальной сети «Интернет», не являются конфиденциальной информацией и могут быть использованы Администрацией без уведомления Пользователя.
      </p>
    </section>

    <div class="my-xl divider"></div>

    <section id="section-15">
      <p class="text-bold text-underline">15. Реквизиты Администрации Сервиса</p>
      <table class="mt-md">
        <thead>
        <tr>
          <td>Адрес электронной почты</td>
          <td>support@digash.live</td>
        </tr>
        </thead>
      </table>
    </section>
  </div>
</div>

<app-footer />

