@import './src/styles';

:host {
  display: block;
  width: 400px;
  border: 1px solid var(--border-color-2);
  color: var(--dark-color);
}

.link-button {
  color: var(--dark-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--md);
  font-size: 13px;
  border-bottom: 1px solid var(--border-color);
}

.empty {
  width: 100%;
  text-align: center;
  padding: var(--md);

  img {
    margin: 0 auto;
  }

  h4 {
    margin-top: var(--md);
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
  }
}
