
<div class="workspace-mobile-menu-wrapper">
  <div *ngIf="workspace" class="workspace-mobile-menu">
    <div class="open" (click)="toggleMenu($event)">
      <span class="pi pi-angle-up"></span>
    </div>

    <div class="workspace">
      <div class="title ellipsis">
        {{ workspace.title }}
      </div>

      <div class="workspace-actions">
        <div
          class="workspace-exchange">
          <svg-icon [src]="getExchangeData(workspace.market)?.icon" [svgStyle]="{ 'width.px': 14, 'height.px': 12 }"></svg-icon>
          <span>{{ 'screener.' + getExchangeData(workspace.market)?.translateKey | translate }} </span>
        </div>

        <i class="pi pi-pencil" appUnauthorized (click)="openSettings.emit(workspace)"></i>
        <i class="pi pi-trash" appUnauthorized (click)="removeWorkspace.emit(workspace)"></i>
      </div>
    </div>

    <div class="actions">
      <app-workspace-timeframe-selector
        [selectedTimeframe]="workspace.timeframe"
        (changeTimeFrame)="changeTimeframe.emit({timeframe: $event, workspace})">
      </app-workspace-timeframe-selector>
    </div>

  </div>

  <div class="navigation" [style]="navigationStyle" #navigationContainer>
    <div class="workspaces-list">
      <div
        *ngFor="let workspace of workspaces; trackBy: workspaceTrackBy"
        class="workspace"
        (click)="onSelectWorkspace($event, workspace)"
      >
        <div class="title">
          {{ workspace.title }}
        </div>

        <div class="workspace-actions">
          <div
            class="workspace-exchange">
            <svg-icon [src]="getExchangeData(workspace.market)?.icon" [svgStyle]="{ 'width.px': 12, 'height.px': 10 }"></svg-icon>
            <span>{{ 'screener.' + getExchangeData(workspace.market)?.translateKey | translate }} </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

