.payment-success {
  min-height: calc(100vh - 440px);
}

.navigation-greed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--md);

  button {
    width: 100%;
    svg-icon {
      display: flex;
      align-items: center;
    }
    a {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: var(--sm);
    }
  }
}

.actions-container {
  max-width: 400px;
  margin: auto;
}
