
:host {
  display: block;
}

.color-pin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--font-size-text);
  height: var(--font-size-text);
  border-radius: 100%;

  &::ng-deep button {
    padding: 0;
  }

  &.hided {
    opacity: 0;
    transition: .5s all;

    &:hover {
      opacity: 1;
    }
  }
}

.colors {
  display: flex;
  gap: var(--sm);

  .color {
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 100%;
    cursor: pointer;
    opacity: .8;
    transition: .5s all;

    &:hover {
      opacity: 1;
    }
  }
}
