@import "src/styles";

.menu-trigger {
  display: flex;
  align-items: center;
  border: none !important;

  span {
    font-size: 12px;
  }

  svg-icon {
    margin-left: calc(var(--md) / 2);
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid var(--border-color-2);

  a {
    width: 100%;
  }

  .menu-item {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

app-menu {
  width: 180px;
  top: 45px;
}
