<div class="contacts-content">
  <div class="container">
    <div class="text-center my-xl flex items-center gap-sm justify-center">
      <h1 class="text-title text-bold">{{ 'contacts.header' | translate }}</h1>
    </div>
  
    <div class="bg-main rounded-borders-md pa-lg">
        <div class="contact-row mb-md">
          <span>{{ 'contacts.support' | translate }}:</span>
          <span><a href="https://t.me/Digash_support" target="_blank">https://t.me/Digash_support</a></span>
        </div>
    
        <div class="contact-row mb-md">
          <span>{{ 'contacts.telegram_chat' | translate }}:</span>
          <span><a href="https://t.me/DigashChat" target="_blank">https://t.me/DigashChat</a></span>
        </div>

        <div class="contact-row mb-md">
          <span>{{ 'contacts.telegram_channel' | translate }}:</span>
          <span><a href="https://t.me/DigashLive" target="_blank">https://t.me/DigashLive</a></span>
        </div>
    
        <div class="contact-row mb-md">
          <span>{{ 'contacts.youtube' | translate }}:</span>
          <span><a href="https://www.youtube.com/@Digash-Screener" target="_blank">@Digash-Screener</a></span>
        </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
