<div class="terms">
    <div class="bitget-logo">
        <svg-icon src="../../../../../assets/svg/bitget2.svg" ></svg-icon>
    </div>

    <p>
        {{ 'bitget.promotion' | translate }}
    </p>

    <ul>
        <li>
            {{ 'bitget.register' | translate }}
            <a href="https://partner.bitget.com/bg/Digash" target="_blank">bitget</a>
        </li>
        <li>
            {{ 'bitget.trade' | translate }}
        </li>
        <li>
            {{ 'bitget.reward' | translate }}
        </li>
        <li>
            {{ 'bitget.premium' | translate }}
        </li>
        <li>
            {{ 'bitget.balance' | translate }}
        </li>
    </ul>
    
    <p>
        <b>{{ 'bitget.example' | translate }}:</b><br>
        {{ 'bitget.exampleDescription' | translate }}
    </p>

    <div class="bitget-action">
        <button class="app-button-primary" (click)="navigateToBitget()">{{'bitget.registerButton' | translate}}</button>
    </div>
</div> 