<div class="terms">
    <div class="vataga-logo">
        <img src="./assets/svg/vataga.svg" alt="vataga">
    </div>

    <ul>
        <li>
            <b><span>{{ 'vataga.binding' | translate }}</span>:</b>&nbsp;
            <span>{{ 'vataga.bindingDescription' | translate }}</span>&nbsp;
            <a href="https://app.vataga.trading/register/?referrer=Digash" target="_blank">{{ 'vataga.referralLink' | translate }}</a>
        </li>

        <li>
            <b><span>{{ 'vataga.binanceRefund' | translate }}</span>:</b>&nbsp;
            <span>{{ 'vataga.binanceRefundDescription' | translate }}</span>
        </li>

        <li>
            <b><span>{{ 'vataga.bybitRefund' | translate }}</span>:</b>&nbsp;
            <span>{{ 'vataga.bybitRefundDescription' | translate }}</span>
        </li>

        <li>
            <b><span>{{ 'vataga.minCommission' | translate }}</span>:</b>&nbsp;
            <span>{{ 'vataga.minCommissionDescription' | translate }}</span>&nbsp;
            <ul>
                <li>{{ 'vataga.minCommissionBinance' | translate }}</li>
                <li>{{ 'vataga.minCommissionBybit' | translate }}</li>
            </ul>
        </li>

        <li>
            <b><span>{{ 'vataga.activateAccess' | translate }}</span>:</b>&nbsp;
            <span>{{ 'vataga.activateAccessDescription' | translate }}</span>&nbsp;
        </li>

        <li>
            <b><span>{{ 'vataga.extendAccess' | translate }}</span>:</b>&nbsp;
            <span>{{ 'vataga.extendAccessDescription' | translate }}</span>
        </li>

        <li>
            <b><span>{{ 'vataga.example' | translate }}</span>:</b>&nbsp;
            <span>{{ 'vataga.exampleDescription' | translate }}</span>
        </li>
    </ul>

    <div class="vataga-action">
        <button class="app-button-primary" (click)="navigateToVataga()">{{ 'vataga.register' | translate }}</button>
    </div>
</div>
