.chart-navigation {
  position: relative;
  background: var(--color-chart-bg);

  .chart-navigation-header {
    position: sticky;
    top: 0;
    left: 0;
    font-size: 12px;
    background: var(--color-main-bg);
    z-index: 9;
    overflow-x: scroll;
  }

  .chart-navigation-row {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
    gap: var(--xs);

    .chart-navigation-row-alert-column, .chart-navigation-row-watchlist-column {
      width: 24px;
      min-width: 24px;

      .watchlist-icon {
        //transform: rotateZ(-90deg);
      }
    }

    .chart-navigation-row-symbol-column {
      //flex-grow: 1;
      min-width: 100px;
      width: 100px;

      @media (max-width: 720px) {
        min-width: 65px;
        width: 65px;
      }
    }

    .chart-navigation-row-data-column {
      width: 100px;
      min-width: 100px;

      @media (max-width: 720px) {
        min-width: 75px;
        width: 75px;
      }
    }

    .chart-navigation-row-alert-column,
    .chart-navigation-row-watchlist-column,
    .chart-navigation-row-symbol-column,
    .chart-navigation-row-data-column {
      padding: var(--xs);
      opacity: .7;
      position: relative;

      &.disable {
        pointer-events: none;
        color: #ccc;
        opacity: 0.8;
      }
    }

    .chart-navigation-cort-direction-arrows {
      .pi {
        position: absolute;
        right: 0;
        font-size: var(--font-size-text-small);
        opacity: .5;
      }
      .up {
        top: 2px;
        color: var(--color-main-text);
      }
      .down {
        bottom: 2px;
        color: var(--color-main-text);
      }

      .active {
        opacity: 1;
      }
    }

    .active {
      opacity: 1;
      font-weight: bold;
    }

    .up {
      color: var(--color-positive);
    }
    .down {
      color: var(--color-danger);
    }
  }
}

.coins {
  height: calc(100vh - 115px);
  overflow-x: scroll;

  .selected {
    background: var(--color-secondary);
  }

  .chart-navigation-row {
    transition: .5s all;
    padding: var(--xs) 0;
    &:hover {
      background: var(--color-secondary);
    }
  }

  .chart-navigation-row-symbol-column {
    font-size: 12px;
  }
}

.premium-message-container {
  &::ng-deep p-messages {
    margin-bottom: 0;
  }
}
