@import './src/styles';

:host {
  display: block;

  &.large {
    p-messages {
      padding: calc(var(--md) * 2)
    }

    .info-content {
      .text-content {
        font-size: 22px;
      }
    }
  }
}

p-messages {
  display: block;
  margin-bottom: var(--md);
  position: relative;
  overflow: hidden;

  padding: var(--md);

  border: 1px solid transparent;
  background: linear-gradient(var(--color-main-bg), var(--color-main-bg)) padding-box,
    linear-gradient(to left, var(--color-primary-ligthen), var(--color-main-bg-accent-lighten)) border-box,
    var(--color-primary-ligthen) padding-box;
  background-clip: padding-box, border-box;
  box-shadow: 0px 0px 0px 1px #00000040;

  border-radius: 10px !important;

  & ::ng-deep {
    .p-message {
      margin: 0;
    }
  }
}

.info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: calc(var(--md) * 2);
  text-align: left;

  .text-content {
    width: 70%;
    font-size: 16px;
    font-weight: 600;
  }

  .primary-ellipse {
    position: absolute;
    top: -220px;
    right: -80px;
    z-index: 1;
    opacity: 0.7;
    pointer-events: none;

    img {
      object-fit: contain;
      width: 500px;
      height: 500px;
    }
  }

}

.action-button {
  width: 100%;
  text-align: center;

  &::ng-deep .p-button {
    border: none;
  }
}

.action::ng-deep .p-button {
  border: none;
  background-color: #f5d7ff;
  padding: 15px 20px;

  &:hover {
    background-color: #edc9ff;
  }
}

.action {
  margin-top: 0;
}
