@import './src/styles';

:host {
  display: block;
  position: relative;
}

.navigation-menu {
  height: 100%;
  display: block;
  padding: 0 6px;
  width: 180px;
  border-right: 1px solid var(--color-primary)-2;
  //width: $navigation-width;
}

ngb-offcanvas-panel {
  width: auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--md));
  padding-bottom: calc(var(--md));
  border-bottom: 1px solid var(--border-color);

  a {
    text-decoration: none;
  }

  .logo-text {
    margin-top: var(--md);
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--dark-color);
  }

  img {
    //border-radius: 100%;
    width: 55px;
    //height: 55px;
  }
}

menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--md) * 2);
  height: 100%;
  padding: 0 6px;
  width: 100%;

  ul {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;

    li {
      list-style: none;
      color: var(--dark-icon-color);
      font-size: 12px;
      text-align: center;
      transition: .5s all;
      margin-bottom: calc(var(--md) * 2);

      &.bottom {
        margin-top: auto;
      }

      &:hover {
        a {
          color: #fff;

          svg-icon {
            color: var(--dark-color);
          }
        }
      }

      a {
        text-decoration: none;
        color: #fff;

        button {
          height: 100%;
          width: 100%;
          display: block;
          font-size: 12px;
          padding: calc(var(--md) / 2);
          border-radius: var(--border-radius);

          .link-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
        }

        mat-icon {
          margin-right: var(--md);
          position: relative;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
